:root {
  --aside-text-color: #fefefe;
  --main-background-color: #f9fafb;
  --form-background-color: white;
  --button-color: #596d48;
  --shadow-color: rgb(152, 152, 152);
  --input-border: #e5e7eb;
  --input-focused: blue;
  --input-wrong: red;
}

@font-face {
  font-family: "Norse-Bold";
  src: url(fonts/Norse-Bold.otf) format("opentype");
  font-weight: 900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

body {
  height: 100vh;
  width: 100vw;
}

img {
  max-width: 100%;
  max-height: 100%;
}

aside {
  flex: none;
  background-image: url(images/leaves.jpg);
  background-size: cover;
  align-items: center;
  width: 35rem;
}

main {
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  font-family: sans-serif;
  justify-content: center;
}

section:first-child {
  justify-content: flex-end;
}

main,
section {
  gap: 2rem;
}

section > p,
h1 {
  font-size: calc(1rem + 1vh);
  font-weight: 600;
}

main > * {
  padding: 0 15rem 0 4rem;
}

form {
  background-color: var(--form-background-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
  box-shadow: var(--shadow-color) 0 0.1rem 0.4rem;
}

input {
  padding: 0.5rem;
  height: 2rem;
  width: 15rem;
  border-radius: 4px;
  border: solid var(--input-border) 1px;
}

input:focus {
  border: var(--input-focused);
  box-shadow: var(--shadow-color) 0.2rem 0.2rem 0.4rem;
}

input:user-invalid {
  border: solid var(--input-wrong) 1px;
}

section {
  height: 33%;
}

button {
  align-self: baseline;
  border: none;
  background-color: var(--button-color);
  border-radius: 10px;
  height: 3rem;
  width: 13rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--aside-text-color);
  box-shadow: var(--shadow-color) 0.2rem 0.2rem 0.4rem;
}

#logo-strip {
  height: 12rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  padding: 1rem;
}

#odin-logo-text {
  font-family: "Norse-Bold", sans-serif;
  color: var(--aside-text-color);
  font-size: calc(5rem + 4vh);
}

#credit {
  font-family: sans-serif;
  margin-top: auto;
  padding: 0.5rem;
  color: #fefefe;
  :link,
  :visited {
    color: #aeaeae;
  }
}

#log-in-paragraph {
  font-size: calc(0.5rem + 1vh);
}

#log-in {
  color: var(--button-color);
}

.input-element > label {
  display: block;
  font-size: calc(0.5rem + 0.5vh);
  line-height: 1;
  margin-bottom: 0.4rem;
}

.input {
  gap: 5rem;
}

.input-column {
  gap: 1.5rem;
}
